

		
				<img id="big-pic" src="img/banner-img.jpg" alt="header-picture">
				
				<div class="top-text">
					
					<h2>Come check out our beasts!</h2>
					<article>
						<p>Hwæt! We Gardena     in geardagum, 
						þeodcyninga,     þrym gefrunon, 
						hu ða æþelingas     ellen fremedon. 
						Oft Scyld Scefing     sceaþena þreatum, 

						monegum mægþum,     meodosetla ofteah, 
						egsode eorlas.     Syððan ærest wearð 
						feasceaft funden,     he þæs frofre gebad, 
						weox under wolcnum,     weorðmyndum þah, 
						oðþæt him æghwylc     þara ymbsittendra 

						ofer hronrade     hyran scolde, 
						gomban gyldan.     þæt wæs god cyning! 
						ðæm eafera wæs     æfter cenned, 
						geong in geardum,     þone god sende 
						folce to frofre;     fyrenðearfe ongeat 

						þe hie ær drugon     aldorlease 
						lange hwile.     Him þæs liffrea, 
						wuldres wealdend,     woroldare forgeaf; 
						Beowulf wæs breme     (blæd wide sprang), 
						Scyldes eafera     Scedelandum in. </p>
					</article>
					<article>
						<p>Hwæt! We Gardena     in geardagum, 
						þeodcyninga,     þrym gefrunon, 
						hu ða æþelingas     ellen fremedon. 
						Oft Scyld Scefing     sceaþena þreatum, 

						monegum mægþum,     meodosetla ofteah, 
						egsode eorlas.     Syððan ærest wearð 
						feasceaft funden,     he þæs frofre gebad, 
						weox under wolcnum,     weorðmyndum þah, 
						oðþæt him æghwylc     þara ymbsittendra 

						ofer hronrade     hyran scolde, 
						gomban gyldan.     þæt wæs god cyning! 
						ðæm eafera wæs     æfter cenned, 
						geong in geardum,     þone god sende 
						folce to frofre;     fyrenðearfe ongeat 

						þe hie ær drugon     aldorlease 
						lange hwile.     Him þæs liffrea, 
						wuldres wealdend,     woroldare forgeaf; 
						Beowulf wæs breme     (blæd wide sprang), 
						Scyldes eafera     Scedelandum in. </p>
					</article>
				</div>
			</div>
			<div class="container2">
				<h3>The beasts</h3>
				<div class="img-row">
					<img src="img/bike1.jpg" alt="thumbnail">
					<img src="img/bike2.jpg" alt="thumbnail">
					<img src="img/bike3.jpg" alt="thumbnail">
					<img src="img/bike4.jpg" alt="thumbnail">
				</div>
				<article>
					<h4>About our bikes</h4>
					<p>Hwæt! We Gardena     in geardagum, 
					þeodcyninga,     þrym gefrunon, 
					hu ða æþelingas     ellen fremedon. 
					Oft Scyld Scefing     sceaþena þreatum, 

					

					ofer hronrade     hyran scolde, 
					gomban gyldan.     þæt wæs god cyning! 
					ðæm eafera wæs     æfter cenned, 
					geong in geardum,     þone god sende 
					folce to frofre;     fyrenðearfe ongeat </p>
					<p>
					þe hie ær drugon     aldorlease 
					lange hwile.     Him þæs liffrea, 
					wuldres wealdend,     woroldare forgeaf; 
					Beowulf wæs breme     (blæd wide sprang), 
					Scyldes eafera     Scedelandum in.</p>
				</article>
				<article>
					<h4>Satisfaction guarantee</h4>
					<p>Hwæt! We Gardena     in geardagum, 
					þeodcyninga,     þrym gefrunon, 
					hu ða æþelingas     ellen fremedon. 
					Oft Scyld Scefing     sceaþena þreatum, 

					

					ofer hronrade     hyran scolde, 
					gomban gyldan.     þæt wæs god cyning! 
					ðæm eafera wæs     æfter cenned, 
					geong in geardum,     þone god sende 
					folce to frofre;     fyrenðearfe ongeat </p>
					<p>
					þe hie ær drugon     aldorlease 
					lange hwile.     Him þæs liffrea, 
					wuldres wealdend,     woroldare forgeaf; 
					Beowulf wæs breme     (blæd wide sprang), 
					Scyldes eafera     Scedelandum in.</p>
				</article>
			</div>
		